@font-face {
    font-family: Primary;
    src: url('../fonts/Raleway-Medium.ttf');
}

@font-face {
    font-family: PrimaryBold;
    src: url('../fonts/Raleway-SemiBold.ttf');
}

.more_size {
    font-size: 20px;
}

/*
HEX
#1ca1de
#188dc2
#1579a6
#11658b
#0e516f
#0a3c53
#072837
#03141c
*/

:root {
    --hayah: #1ca1de;
    --background_color: #c7e7ff;
    --prim_color: #00658e;
    --box-shadow: #00344c;
    --text_color: #000;
    --button_filling_true: #40DE1C;
    --white_smooky: #eee;
    --button_filling_false: #DE591C;
    --border_color: #c7e7ff;
}

.green_colored {
    color: var(--button_filling_true);
    font-weight: bold"

}

body {
    background: var(--background_color);
    color: var(--text_color);
    font-size: 12px;
    font-family: Primary;
}

header {
    z-index: 1000;
    position: fixed;
    width: 100%;

}

div.navbar {
    color: var(--white_smooky);
    background-color: var(--prim_color);
    border-width: 0;
    border-radius: 0;
    margin-bottom: 0;
    box-shadow: 0 0 5px -1px var(--box-shadow);
}

span.logo {
    font-size: 25px;
    font-family: PrimaryBold;
    line-height: 40px;
    cursor: default;
}

.form-out {
    display: flex;
    flex-direction: row;
}

.form-out-element {
    margin: auto;
}

div.main {
    padding: 36px 6px 30px 6px;
    min-height: 110vh;
}

thead {
    background-color: var(--box-shadow);
    color: var(--white_smooky);
}

tbody {
    background-color: var(--prim_color);
    color: var(--white_smooky);

}

tr,
th,
td {
    border: 2px solid var(--border_color);
    text-align-last: center;
    margin: 5px 0px 5px 0px;
    padding: 0px;
}


span.log-line {
    display: inline;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 13px;
}

.alert {
    display: inline;
    padding-right: 25px;
    margin-top: 15px;
}

.alert button {
    top: 0;
    margin-right: 10px;
}

.alert button i {
    font-size: 90%;
}

.checkbox-wrapper-31:hover .check {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-31 {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.checkbox-wrapper-31 .background {
    fill: var(--white_smooky);
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .stroke {
    fill: none;
    stroke: var(--white_smooky);
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 .check {
    fill: none;
    stroke: var(--white_smooky);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
}

.checkbox-wrapper-31 input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;
}

.checkbox-wrapper-31 input[type=checkbox]:hover {
    cursor: pointer;
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .background {
    fill: var(--button_filling_true);
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .stroke {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-31 input[type=checkbox]:checked+svg .check {
    stroke-dashoffset: 0;
}

.button {
    background-color: transparent;
    border-radius: .3em;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: .4s;
    font-weight: 400;
    font-size: 17px;
    border: 2px solid;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--hayah);
    z-index: 1;
}

.button::before,
.button::after {
    content: '';
    display: block;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    background-color: var(--hayah);
    transition: .5s ease all;
}

.button::before {
    top: -1em;
    left: -1em;
}

.button::after {
    left: calc(100% + 1em);
    top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
    height: 550px;
    width: 550px;
}

.button:hover {
    color: var(--text_color);
}

.button:active {
    filter: brightness(1);
}

button {
    background: var(--white_smooky);
    min-height: 40px;
    min-width: 80px;
    padding: 0px;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    border: 4px solid var(--prim_color);
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: var(--prim_color);
    transition: 0.3s ease all;
    z-index: 1;
    border-radius: 10px;
}

button:before {
    transition: 0.3s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: var(--prim_color);
    z-index: -1;
}

button:hover,
button:focus {
    color: var(--white_smooky);
}

button:hover:before,
button:focus:before {
    transition: 0.3s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

button:active {
    transform: scale(1.1);

}

button.active {
    background-color: var(--prim_color);
    color: var(--white_smooky);
}

.minus {
    border: 3px solid var(--button_filling_false);
    color: var(--button_filling_false);
    min-width: 30px;
    padding: 0px;
}

.minus:before {
    background-color: var(--button_filling_false);
}

.minus:active {
    transform: scale(0.5);
    transition: 0.05s all ease;
}

.plus {
    border: 4px solid var(--button_filling_true);
    color: var(--button_filling_true);
    min-width: 30px;
    padding: 0px;
}

.plus:active {
    background-color: var(--button_filling_true);
    transform: scale(1.5);
    transition: 0.05s all ease;
}

.plus::before {
    background-color: var(--button_filling_true);
}

.input {
    margin: 4px;
    font-family: monospace;
    outline: none;
    border: 2px solid var(--box-shadow);
    padding: 5px;
    border-radius: 5px;
    background-color: var(--white_smooky);
    transition: .5s;
    color: var(--text_color);
}

.input:focus {
    border: 4px solid var(--prim_color);
    box-shadow: 0 0 0 4px var(--prim_color)
}

.left {
    margin-left: 30px;
    margin-right: 10px;

}

.right {
    margin-right: 30px;
    margin-left: 10px;
}

.no_border {
    border: 0px none;
}

.out_table {
    margin: auto;
    background-color: var(--background_color);
}

.table_padding td {
    padding: 2px;
    margin: auto;
}

.table_padding {
    margin: auto;
    width: 95%;
}

.container {
    display: block;
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
    position: relative;
}

.container input {
    position: absolute;
    transform: scale(0);
}

.container input:checked~.checkmark {
    transform: rotate(45deg);
    height: 2.1em;
    width: .73em;
    border-color: var(--button_filling_true);
    border-top-color: transparent;
    border-left-color: transparent;
    border-radius: 0;
}

.container .checkmark {
    display: block;
    width: inherit;
    height: inherit;
    border: 4px solid var(--button_filling_true);
    border-radius: 5px;
    transition: all .3s;
}

/* logo heart beat */
.loading {
    display: inline-block;
}

.loading svg polyline {
    fill: none;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.loading svg polyline#back {
    fill: none;
    stroke: #ff4d5033;
}

.loading svg polyline#front {
    fill: none;
    stroke: #d35d6d;
    stroke-dasharray: 48, 144;
    stroke-dashoffset: 192;
    animation: dash_682 1.4s linear infinite;
}

@keyframes dash_682 {
    72.5% {
        opacity: 0;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.scanner span {
    color: transparent;
    font-size: 22px;
    position: relative;
    overflow: hidden;
}

.scanner span::before {
    content: "Loading...";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 4px solid var(--text_color);
    overflow: hidden;
    color: var(--text_color);
    animation: load91371 2s linear infinite;
}

@keyframes load91371 {

    0%,
    10%,
    100% {
        width: 0;
    }

    10%,
    20%,
    30%,
    40%,
    50%,
    60%,
    70%,
    80%,
    90%,
    100% {
        border-right-color: transparent;
    }

    11%,
    21%,
    31%,
    41%,
    51%,
    61%,
    71%,
    81%,
    91% {
        border-right-color: var(--text_color);
    }

    60%,
    80% {
        width: 100%;
    }
}

#dialog {
    width: 100%;
    height: 100%;
}

.right {
    float: right
}

/* Switch starts here */
.rocker {
    display: inline-block;
    position: relative;
    /*
  SIZE OF SWITCH
  ==============
  All sizes are in em - therefore
  changing the font-size here
  will change the size of the switch.
  See .rocker-small below as example.
  */
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #888;
    width: 7em;
    height: 4em;
    overflow: hidden;
    border-bottom: 0.5em solid var(--white_smooky);
}

.rocker-small {
    font-size: 0.75em;
    /* Sizes the switch */
    margin: 1em;
}

.rocker::before {
    content: "";
    position: absolute;
    top: 0.5em;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #888;
    border: 0.5em solid var(--white_smooky);
    border-bottom: 0;
}

.rocker input {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch-left,
.switch-right {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5em;
    width: 3em;
    transition: 0.2s;
    user-select: none;
}

.switch-left {
    height: 2.4em;
    width: 2.75em;
    left: 0.85em;
    bottom: 0.4em;
    background-color: var(--white_smooky);
    transform: rotate(15deg) skewX(15deg);
}



.switch-left::before,
.switch-right::before {
    content: "";
    position: absolute;
    width: 0.4em;
    height: 2.45em;
    bottom: -0.45em;
    background-color: var(--white_smooky);
    transform: skewY(-65deg);
}

.switch-left::before {
    left: -0.4em;
}

.switch-right::before {
    right: -0.375em;
    background-color: transparent;
    transform: skewY(65deg);
}

.switch-right {
    right: 0.5em;
    bottom: 0;
    background-color: var(--hayah);
    color: var(--white_smooky);
}

input:checked+.switch-left {
    background-color: var(--box-shadow);
    color: var(--white_smooky);
    bottom: 0px;
    left: 0.5em;
    height: 2.5em;
    width: 3em;
    transform: rotate(0deg) skewX(0deg);
}

input:checked+.switch-left::before {
    background-color: transparent;
    width: 3.0833em;
}

input:checked+.switch-left+.switch-right {
    background-color: var(--white_smooky);
    color: #888;
    bottom: 0.4em;
    right: 0.8em;
    height: 2.4em;
    width: 2.75em;
    transform: rotate(-15deg) skewX(-15deg);
}

input:checked+.switch-left+.switch-right::before {
    background-color: var(--white_smooky);
}

/* Keyboard Users */
input:focus+.switch-left {
    color: #333;
}

input:checked:focus+.switch-left {
    color: var(--white_smooky);
}

input:focus+.switch-left+.switch-right {
    color: var(--white_smooky);
}

input:checked:focus+.switch-left+.switch-right {
    color: #333;
}

.lock-checkbox {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.lock-checkbox input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.lock-icon {
    fill: var(--button_filling_true);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 34px;
    height: 34px;
    transition: all 0.3s;
    cursor: pointer;
}

.lock-checkbox input[type="checkbox"]:checked+.lock-icon {
    fill: var(--button_filling_false);
}